<div class="post-card">

  <div class="post-header">
    <div class="username">
      <p> <%= post.user.full_name %> </p>
    </div>
    <div class="edit-delete">
      <div class="edit-button">
        <% if post.user == current_user %>
          <%= link_to "edit post", edit_post_path(post)%>
        <% end %>
      </div>
      <div class="delete-button">
        <% if post.user == current_user %>
          <%= link_to "delete post", post_path(post), method: :delete  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="post-time">
    <%= post.created_at.strftime("%b %e, %l:%M %p") %>
  </div>
  <div class="content">
    <p> <%= post.content %></p>
  </div>

  <div class="stats">
    <div class="retweets">
      <p><%= post.retweets %> <i class="fas fa-retweet"></i></p>
    </div>
    <div class="likes">
      <p><%= post.likes %> <i class="far fa-heart"></i></p>
    </div>
  </div>

</div>
